--
-- PostgreSQL database dump
--

-- Dumped from database version 12.14
-- Dumped by pg_dump version 12.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: bakery_consignment; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE bakery_consignment WITH TEMPLATE = template0 ENCODING = 'UTF8' LC_COLLATE = 'Indonesian_Indonesia.1252' LC_CTYPE = 'Indonesian_Indonesia.1252';


ALTER DATABASE bakery_consignment OWNER TO postgres;

\connect bakery_consignment

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: detail_distribusi; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.detail_distribusi (
    id integer NOT NULL,
    id_distribusi integer NOT NULL,
    id_produk integer NOT NULL,
    id_harga integer NOT NULL,
    jumlah integer NOT NULL,
    harga_satuan numeric(15,2) NOT NULL,
    subtotal numeric(15,2) NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.detail_distribusi OWNER TO postgres;

--
-- Name: detail_distribusi_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.detail_distribusi_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.detail_distribusi_id_seq OWNER TO postgres;

--
-- Name: detail_distribusi_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.detail_distribusi_id_seq OWNED BY public.detail_distribusi.id;


--
-- Name: detail_pembelian; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.detail_pembelian (
    id integer NOT NULL,
    id_pembelian integer NOT NULL,
    id_produk integer NOT NULL,
    jumlah integer NOT NULL,
    harga_beli numeric(15,2) NOT NULL,
    subtotal numeric(15,2) NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.detail_pembelian OWNER TO postgres;

--
-- Name: detail_pembelian_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.detail_pembelian_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.detail_pembelian_id_seq OWNER TO postgres;

--
-- Name: detail_pembelian_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.detail_pembelian_id_seq OWNED BY public.detail_pembelian.id;


--
-- Name: detail_penjualan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.detail_penjualan (
    id integer NOT NULL,
    id_penjualan integer NOT NULL,
    id_produk integer NOT NULL,
    id_harga integer NOT NULL,
    jumlah_terjual integer NOT NULL,
    harga_satuan numeric(15,2) NOT NULL,
    hpp_satuan numeric(15,2) NOT NULL,
    fee_sales_satuan numeric(15,2) NOT NULL,
    subtotal numeric(15,2) NOT NULL,
    subtotal_hpp numeric(15,2) NOT NULL,
    subtotal_fee numeric(15,2) NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.detail_penjualan OWNER TO postgres;

--
-- Name: detail_penjualan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.detail_penjualan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.detail_penjualan_id_seq OWNER TO postgres;

--
-- Name: detail_penjualan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.detail_penjualan_id_seq OWNED BY public.detail_penjualan.id;


--
-- Name: detail_retur; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.detail_retur (
    id integer NOT NULL,
    id_retur integer NOT NULL,
    id_produk integer NOT NULL,
    jumlah integer NOT NULL,
    harga_satuan numeric(15,2) NOT NULL,
    subtotal numeric(15,2) NOT NULL,
    alasan text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.detail_retur OWNER TO postgres;

--
-- Name: detail_retur_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.detail_retur_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.detail_retur_id_seq OWNER TO postgres;

--
-- Name: detail_retur_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.detail_retur_id_seq OWNED BY public.detail_retur.id;


--
-- Name: distribusi; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.distribusi (
    id integer NOT NULL,
    id_stok_sales integer,
    id_warung integer NOT NULL,
    id_sales integer NOT NULL,
    tanggal_distribusi date NOT NULL,
    keterangan text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    kode_distribusi character varying(20)
);


ALTER TABLE public.distribusi OWNER TO postgres;

--
-- Name: distribusi_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.distribusi_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.distribusi_id_seq OWNER TO postgres;

--
-- Name: distribusi_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.distribusi_id_seq OWNED BY public.distribusi.id;


--
-- Name: harga_jual; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.harga_jual (
    id integer NOT NULL,
    id_produk integer NOT NULL,
    nama_harga character varying(50) NOT NULL,
    harga_jual numeric(15,2) NOT NULL,
    fee_sales numeric(15,2) NOT NULL,
    keterangan text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.harga_jual OWNER TO postgres;

--
-- Name: harga_jual_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.harga_jual_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.harga_jual_id_seq OWNER TO postgres;

--
-- Name: harga_jual_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.harga_jual_id_seq OWNED BY public.harga_jual.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.migrations (
    id bigint NOT NULL,
    version character varying(255) NOT NULL,
    class character varying(255) NOT NULL,
    "group" character varying(255) NOT NULL,
    namespace character varying(255) NOT NULL,
    "time" integer NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.migrations_id_seq OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: pembelian; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pembelian (
    id integer NOT NULL,
    id_supplier integer NOT NULL,
    tanggal_pembelian date NOT NULL,
    total_pembelian numeric(15,2) NOT NULL,
    status_pembayaran character varying(20) DEFAULT 'belum_lunas'::character varying NOT NULL,
    keterangan text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    kode_pembelian character varying(20)
);


ALTER TABLE public.pembelian OWNER TO postgres;

--
-- Name: pembelian_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pembelian_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pembelian_id_seq OWNER TO postgres;

--
-- Name: pembelian_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pembelian_id_seq OWNED BY public.pembelian.id;


--
-- Name: penjualan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.penjualan (
    id integer NOT NULL,
    id_distribusi integer,
    id_sales integer NOT NULL,
    id_warung integer NOT NULL,
    tanggal_penjualan date NOT NULL,
    total_penjualan numeric(15,2) NOT NULL,
    total_hpp numeric(15,2) NOT NULL,
    total_fee_sales numeric(15,2) NOT NULL,
    total_profit numeric(15,2) NOT NULL,
    keterangan text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    kode_penjualan character varying(20)
);


ALTER TABLE public.penjualan OWNER TO postgres;

--
-- Name: penjualan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.penjualan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.penjualan_id_seq OWNER TO postgres;

--
-- Name: penjualan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.penjualan_id_seq OWNED BY public.penjualan.id;


--
-- Name: produk; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.produk (
    id integer NOT NULL,
    kode_produk character varying(20) NOT NULL,
    nama_produk character varying(100) NOT NULL,
    kategori character varying(50) NOT NULL,
    deskripsi text,
    hpp numeric(15,2) NOT NULL,
    stok_minimum integer DEFAULT 10 NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.produk OWNER TO postgres;

--
-- Name: produk_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.produk_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.produk_id_seq OWNER TO postgres;

--
-- Name: produk_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.produk_id_seq OWNED BY public.produk.id;


--
-- Name: retur; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.retur (
    id integer NOT NULL,
    id_warung integer NOT NULL,
    id_sales integer NOT NULL,
    tanggal_retur date NOT NULL,
    alasan_retur text NOT NULL,
    total_retur numeric(15,2) NOT NULL,
    keterangan text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    kode_retur character varying(20)
);


ALTER TABLE public.retur OWNER TO postgres;

--
-- Name: retur_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.retur_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.retur_id_seq OWNER TO postgres;

--
-- Name: retur_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.retur_id_seq OWNED BY public.retur.id;


--
-- Name: sales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sales (
    id integer NOT NULL,
    id_user integer,
    kode_sales character varying(20) NOT NULL,
    nama_sales character varying(100) NOT NULL,
    no_telepon character varying(20),
    alamat text,
    status_aktif boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.sales OWNER TO postgres;

--
-- Name: sales_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sales_id_seq OWNER TO postgres;

--
-- Name: sales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sales_id_seq OWNED BY public.sales.id;


--
-- Name: stok_sales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stok_sales (
    id integer NOT NULL,
    id_sales integer NOT NULL,
    id_produk integer NOT NULL,
    jumlah integer NOT NULL,
    tanggal_input date NOT NULL,
    status character varying(20) DEFAULT 'di_sales'::character varying NOT NULL,
    created_by integer NOT NULL,
    keterangan text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    kode_stok character varying(20)
);


ALTER TABLE public.stok_sales OWNER TO postgres;

--
-- Name: stok_sales_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stok_sales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.stok_sales_id_seq OWNER TO postgres;

--
-- Name: stok_sales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stok_sales_id_seq OWNED BY public.stok_sales.id;


--
-- Name: supplier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplier (
    id integer NOT NULL,
    kode_supplier character varying(20) NOT NULL,
    nama_supplier character varying(100) NOT NULL,
    alamat text,
    no_telepon character varying(20),
    nama_kontak character varying(100),
    status_aktif boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.supplier OWNER TO postgres;

--
-- Name: supplier_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.supplier_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.supplier_id_seq OWNER TO postgres;

--
-- Name: supplier_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.supplier_id_seq OWNED BY public.supplier.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password character varying(255) NOT NULL,
    nama_lengkap character varying(100) NOT NULL,
    role character varying(20) NOT NULL,
    status_aktif boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: warung; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.warung (
    id integer NOT NULL,
    kode_warung character varying(20) NOT NULL,
    nama_warung character varying(100) NOT NULL,
    alamat text NOT NULL,
    nama_pemilik character varying(100) NOT NULL,
    no_telepon character varying(20),
    status_aktif boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.warung OWNER TO postgres;

--
-- Name: warung_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.warung_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.warung_id_seq OWNER TO postgres;

--
-- Name: warung_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.warung_id_seq OWNED BY public.warung.id;


--
-- Name: detail_distribusi id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_distribusi ALTER COLUMN id SET DEFAULT nextval('public.detail_distribusi_id_seq'::regclass);


--
-- Name: detail_pembelian id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_pembelian ALTER COLUMN id SET DEFAULT nextval('public.detail_pembelian_id_seq'::regclass);


--
-- Name: detail_penjualan id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_penjualan ALTER COLUMN id SET DEFAULT nextval('public.detail_penjualan_id_seq'::regclass);


--
-- Name: detail_retur id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_retur ALTER COLUMN id SET DEFAULT nextval('public.detail_retur_id_seq'::regclass);


--
-- Name: distribusi id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.distribusi ALTER COLUMN id SET DEFAULT nextval('public.distribusi_id_seq'::regclass);


--
-- Name: harga_jual id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.harga_jual ALTER COLUMN id SET DEFAULT nextval('public.harga_jual_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: pembelian id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pembelian ALTER COLUMN id SET DEFAULT nextval('public.pembelian_id_seq'::regclass);


--
-- Name: penjualan id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.penjualan ALTER COLUMN id SET DEFAULT nextval('public.penjualan_id_seq'::regclass);


--
-- Name: produk id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produk ALTER COLUMN id SET DEFAULT nextval('public.produk_id_seq'::regclass);


--
-- Name: retur id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.retur ALTER COLUMN id SET DEFAULT nextval('public.retur_id_seq'::regclass);


--
-- Name: sales id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales ALTER COLUMN id SET DEFAULT nextval('public.sales_id_seq'::regclass);


--
-- Name: stok_sales id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stok_sales ALTER COLUMN id SET DEFAULT nextval('public.stok_sales_id_seq'::regclass);


--
-- Name: supplier id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier ALTER COLUMN id SET DEFAULT nextval('public.supplier_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: warung id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warung ALTER COLUMN id SET DEFAULT nextval('public.warung_id_seq'::regclass);


--
-- Data for Name: detail_distribusi; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.detail_distribusi (id, id_distribusi, id_produk, id_harga, jumlah, harga_satuan, subtotal, created_at, updated_at) FROM stdin;
2	3	1	2	20	10000.00	200000.00	2026-06-06 03:09:25	2026-06-06 03:09:25
\.


--
-- Data for Name: detail_pembelian; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.detail_pembelian (id, id_pembelian, id_produk, jumlah, harga_beli, subtotal, created_at, updated_at) FROM stdin;
1	3	1	100	3000.00	300000.00	2026-06-06 03:06:33	2026-06-06 03:06:33
2	4	2	200	2500.00	500000.00	2026-06-06 03:44:42	2026-06-06 03:44:42
3	4	1	100	2500.00	250000.00	2026-06-06 03:44:42	2026-06-06 03:44:42
\.


--
-- Data for Name: detail_penjualan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.detail_penjualan (id, id_penjualan, id_produk, id_harga, jumlah_terjual, harga_satuan, hpp_satuan, fee_sales_satuan, subtotal, subtotal_hpp, subtotal_fee, created_at, updated_at) FROM stdin;
3	4	1	1	10	8000.00	5000.00	500.00	80000.00	50000.00	5000.00	2026-06-06 03:09:25	2026-06-06 03:09:25
\.


--
-- Data for Name: detail_retur; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.detail_retur (id, id_retur, id_produk, jumlah, harga_satuan, subtotal, alasan, created_at, updated_at) FROM stdin;
1	1	1	5	5000.00	25000.00	Kadaluarsa	2026-06-06 03:08:28	2026-06-06 03:08:28
\.


--
-- Data for Name: distribusi; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.distribusi (id, id_stok_sales, id_warung, id_sales, tanggal_distribusi, keterangan, created_at, updated_at, kode_distribusi) FROM stdin;
3	\N	1	1	2026-06-06	Test	2026-06-06 03:09:25	2026-06-06 03:09:25	DB-2606-0001
\.


--
-- Data for Name: harga_jual; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.harga_jual (id, id_produk, nama_harga, harga_jual, fee_sales, keterangan, created_at, updated_at) FROM stdin;
1	1	Harga A	8000.00	500.00	\N	2026-06-06 10:09:08.067096	2026-06-06 10:09:08.067096
2	1	Harga B	10000.00	700.00	\N	2026-06-06 10:09:08.067096	2026-06-06 10:09:08.067096
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pembelian; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pembelian (id, id_supplier, tanggal_pembelian, total_pembelian, status_pembayaran, keterangan, created_at, updated_at, kode_pembelian) FROM stdin;
3	1	2026-06-06	300000.00	lunas	Test pembelian	2026-06-06 03:06:33	2026-06-06 03:06:33	BL-2606-0001
4	1	2026-06-06	750000.00	lunas		2026-06-06 03:44:42	2026-06-06 03:44:50	BL-2606-0002
\.


--
-- Data for Name: penjualan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.penjualan (id, id_distribusi, id_sales, id_warung, tanggal_penjualan, total_penjualan, total_hpp, total_fee_sales, total_profit, keterangan, created_at, updated_at, kode_penjualan) FROM stdin;
4	\N	1	1	2026-06-06	80000.00	50000.00	5000.00	25000.00	Test	2026-06-06 03:09:25	2026-06-06 03:09:25	PJ-2606-0001
\.


--
-- Data for Name: produk; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.produk (id, kode_produk, nama_produk, kategori, deskripsi, hpp, stok_minimum, created_at, updated_at) FROM stdin;
1	TEST001	Roti Test	Roti	\N	5000.00	10	2026-06-06 02:52:42	2026-06-06 02:52:42
2	MANIS-123	ROTI MANIS COKLAT	Roti		3000.00	10	2026-06-06 02:57:33	2026-06-06 02:57:33
\.


--
-- Data for Name: retur; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.retur (id, id_warung, id_sales, tanggal_retur, alasan_retur, total_retur, keterangan, created_at, updated_at, kode_retur) FROM stdin;
1	1	1	2026-06-06	Kadaluarsa	25000.00	Test	2026-06-06 03:08:28	2026-06-06 03:08:28	RT-2606-0001
\.


--
-- Data for Name: sales; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sales (id, id_user, kode_sales, nama_sales, no_telepon, alamat, status_aktif, created_at, updated_at) FROM stdin;
1	\N	SLS-0001	Sales Test	081234	Jl. Test	t	2026-06-06 02:52:42	2026-06-06 02:52:42
\.


--
-- Data for Name: stok_sales; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stok_sales (id, id_sales, id_produk, jumlah, tanggal_input, status, created_by, keterangan, created_at, updated_at, kode_stok) FROM stdin;
1	1	1	50	2026-06-06	sudah_distribusi	1	Test stok	2026-06-06 03:04:51	2026-06-06 03:40:43	SK-2606-0001
\.


--
-- Data for Name: supplier; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplier (id, kode_supplier, nama_supplier, alamat, no_telepon, nama_kontak, status_aktif, created_at, updated_at) FROM stdin;
1	SUP-0001	Supplier Test	Jl. Test	081234	Kontak	t	2026-06-06 02:52:42	2026-06-06 02:52:42
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, username, password, nama_lengkap, role, status_aktif, created_at, updated_at) FROM stdin;
1	admin	$2y$10$jOnR4GpBtOZ3gHRmMZlwaOgKv8.ixw8FUcLD4pCAw8EzHmRIbp4Uq	Administrator	admin	t	2026-06-06 02:07:20	2026-06-06 02:07:20
\.


--
-- Data for Name: warung; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.warung (id, kode_warung, nama_warung, alamat, nama_pemilik, no_telepon, status_aktif, created_at, updated_at) FROM stdin;
1	WRG-0001	Warung Test	Jl. Test	Pemilik	081234	t	2026-06-06 02:52:42	2026-06-06 02:52:42
\.


--
-- Name: detail_distribusi_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.detail_distribusi_id_seq', 2, true);


--
-- Name: detail_pembelian_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.detail_pembelian_id_seq', 3, true);


--
-- Name: detail_penjualan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.detail_penjualan_id_seq', 3, true);


--
-- Name: detail_retur_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.detail_retur_id_seq', 1, true);


--
-- Name: distribusi_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.distribusi_id_seq', 3, true);


--
-- Name: harga_jual_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.harga_jual_id_seq', 2, true);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.migrations_id_seq', 18, true);


--
-- Name: pembelian_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pembelian_id_seq', 4, true);


--
-- Name: penjualan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.penjualan_id_seq', 4, true);


--
-- Name: produk_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.produk_id_seq', 2, true);


--
-- Name: retur_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.retur_id_seq', 1, true);


--
-- Name: sales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sales_id_seq', 1, true);


--
-- Name: stok_sales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stok_sales_id_seq', 1, true);


--
-- Name: supplier_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplier_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: warung_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.warung_id_seq', 1, true);


--
-- Name: detail_distribusi pk_detail_distribusi; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_distribusi
    ADD CONSTRAINT pk_detail_distribusi PRIMARY KEY (id);


--
-- Name: detail_pembelian pk_detail_pembelian; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_pembelian
    ADD CONSTRAINT pk_detail_pembelian PRIMARY KEY (id);


--
-- Name: detail_penjualan pk_detail_penjualan; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_penjualan
    ADD CONSTRAINT pk_detail_penjualan PRIMARY KEY (id);


--
-- Name: detail_retur pk_detail_retur; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_retur
    ADD CONSTRAINT pk_detail_retur PRIMARY KEY (id);


--
-- Name: distribusi pk_distribusi; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.distribusi
    ADD CONSTRAINT pk_distribusi PRIMARY KEY (id);


--
-- Name: harga_jual pk_harga_jual; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.harga_jual
    ADD CONSTRAINT pk_harga_jual PRIMARY KEY (id);


--
-- Name: migrations pk_migrations; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT pk_migrations PRIMARY KEY (id);


--
-- Name: pembelian pk_pembelian; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pembelian
    ADD CONSTRAINT pk_pembelian PRIMARY KEY (id);


--
-- Name: penjualan pk_penjualan; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.penjualan
    ADD CONSTRAINT pk_penjualan PRIMARY KEY (id);


--
-- Name: produk pk_produk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produk
    ADD CONSTRAINT pk_produk PRIMARY KEY (id);


--
-- Name: retur pk_retur; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.retur
    ADD CONSTRAINT pk_retur PRIMARY KEY (id);


--
-- Name: sales pk_sales; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT pk_sales PRIMARY KEY (id);


--
-- Name: stok_sales pk_stok_sales; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stok_sales
    ADD CONSTRAINT pk_stok_sales PRIMARY KEY (id);


--
-- Name: supplier pk_supplier; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier
    ADD CONSTRAINT pk_supplier PRIMARY KEY (id);


--
-- Name: users pk_users; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT pk_users PRIMARY KEY (id);


--
-- Name: warung pk_warung; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warung
    ADD CONSTRAINT pk_warung PRIMARY KEY (id);


--
-- Name: produk produk_kode_produk_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produk
    ADD CONSTRAINT produk_kode_produk_key UNIQUE (kode_produk);


--
-- Name: sales sales_kode_sales_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_kode_sales_key UNIQUE (kode_sales);


--
-- Name: supplier supplier_kode_supplier_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier
    ADD CONSTRAINT supplier_kode_supplier_key UNIQUE (kode_supplier);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: warung warung_kode_warung_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warung
    ADD CONSTRAINT warung_kode_warung_key UNIQUE (kode_warung);


--
-- Name: idx_kode_distribusi; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_kode_distribusi ON public.distribusi USING btree (kode_distribusi) WHERE (kode_distribusi IS NOT NULL);


--
-- Name: idx_kode_pembelian; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_kode_pembelian ON public.pembelian USING btree (kode_pembelian) WHERE (kode_pembelian IS NOT NULL);


--
-- Name: idx_kode_penjualan; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_kode_penjualan ON public.penjualan USING btree (kode_penjualan) WHERE (kode_penjualan IS NOT NULL);


--
-- Name: idx_kode_retur; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_kode_retur ON public.retur USING btree (kode_retur) WHERE (kode_retur IS NOT NULL);


--
-- Name: idx_kode_stok; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_kode_stok ON public.stok_sales USING btree (kode_stok) WHERE (kode_stok IS NOT NULL);


--
-- Name: detail_distribusi detail_distribusi_id_distribusi_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_distribusi
    ADD CONSTRAINT detail_distribusi_id_distribusi_foreign FOREIGN KEY (id_distribusi) REFERENCES public.distribusi(id);


--
-- Name: detail_distribusi detail_distribusi_id_harga_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_distribusi
    ADD CONSTRAINT detail_distribusi_id_harga_foreign FOREIGN KEY (id_harga) REFERENCES public.harga_jual(id);


--
-- Name: detail_distribusi detail_distribusi_id_produk_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_distribusi
    ADD CONSTRAINT detail_distribusi_id_produk_foreign FOREIGN KEY (id_produk) REFERENCES public.produk(id);


--
-- Name: detail_pembelian detail_pembelian_id_pembelian_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_pembelian
    ADD CONSTRAINT detail_pembelian_id_pembelian_foreign FOREIGN KEY (id_pembelian) REFERENCES public.pembelian(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: detail_pembelian detail_pembelian_id_produk_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_pembelian
    ADD CONSTRAINT detail_pembelian_id_produk_foreign FOREIGN KEY (id_produk) REFERENCES public.produk(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: detail_penjualan detail_penjualan_id_harga_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_penjualan
    ADD CONSTRAINT detail_penjualan_id_harga_foreign FOREIGN KEY (id_harga) REFERENCES public.harga_jual(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: detail_penjualan detail_penjualan_id_penjualan_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_penjualan
    ADD CONSTRAINT detail_penjualan_id_penjualan_foreign FOREIGN KEY (id_penjualan) REFERENCES public.penjualan(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: detail_penjualan detail_penjualan_id_produk_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_penjualan
    ADD CONSTRAINT detail_penjualan_id_produk_foreign FOREIGN KEY (id_produk) REFERENCES public.produk(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: detail_retur detail_retur_id_produk_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_retur
    ADD CONSTRAINT detail_retur_id_produk_foreign FOREIGN KEY (id_produk) REFERENCES public.produk(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: detail_retur detail_retur_id_retur_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detail_retur
    ADD CONSTRAINT detail_retur_id_retur_foreign FOREIGN KEY (id_retur) REFERENCES public.retur(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: distribusi distribusi_id_sales_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.distribusi
    ADD CONSTRAINT distribusi_id_sales_foreign FOREIGN KEY (id_sales) REFERENCES public.sales(id);


--
-- Name: distribusi distribusi_id_stok_sales_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.distribusi
    ADD CONSTRAINT distribusi_id_stok_sales_foreign FOREIGN KEY (id_stok_sales) REFERENCES public.stok_sales(id);


--
-- Name: distribusi distribusi_id_warung_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.distribusi
    ADD CONSTRAINT distribusi_id_warung_foreign FOREIGN KEY (id_warung) REFERENCES public.warung(id);


--
-- Name: harga_jual harga_jual_id_produk_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.harga_jual
    ADD CONSTRAINT harga_jual_id_produk_foreign FOREIGN KEY (id_produk) REFERENCES public.produk(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pembelian pembelian_id_supplier_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pembelian
    ADD CONSTRAINT pembelian_id_supplier_foreign FOREIGN KEY (id_supplier) REFERENCES public.supplier(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: penjualan penjualan_id_distribusi_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.penjualan
    ADD CONSTRAINT penjualan_id_distribusi_foreign FOREIGN KEY (id_distribusi) REFERENCES public.distribusi(id);


--
-- Name: penjualan penjualan_id_sales_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.penjualan
    ADD CONSTRAINT penjualan_id_sales_foreign FOREIGN KEY (id_sales) REFERENCES public.sales(id);


--
-- Name: penjualan penjualan_id_warung_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.penjualan
    ADD CONSTRAINT penjualan_id_warung_foreign FOREIGN KEY (id_warung) REFERENCES public.warung(id);


--
-- Name: retur retur_id_sales_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.retur
    ADD CONSTRAINT retur_id_sales_foreign FOREIGN KEY (id_sales) REFERENCES public.sales(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: retur retur_id_warung_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.retur
    ADD CONSTRAINT retur_id_warung_foreign FOREIGN KEY (id_warung) REFERENCES public.warung(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sales sales_id_user_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_id_user_foreign FOREIGN KEY (id_user) REFERENCES public.users(id) ON UPDATE SET NULL ON DELETE CASCADE;


--
-- Name: stok_sales stok_sales_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stok_sales
    ADD CONSTRAINT stok_sales_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: stok_sales stok_sales_id_produk_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stok_sales
    ADD CONSTRAINT stok_sales_id_produk_foreign FOREIGN KEY (id_produk) REFERENCES public.produk(id);


--
-- Name: stok_sales stok_sales_id_sales_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stok_sales
    ADD CONSTRAINT stok_sales_id_sales_foreign FOREIGN KEY (id_sales) REFERENCES public.sales(id);


--
-- PostgreSQL database dump complete
--

